// [Editable] this file is safe to play with ;)

$primary-color: rgb(0, 81, 255); // chat colors for [Buttons, current user's chat messages color]
$seconday-color: rgb(0, 0, 0); // chat colors for [Chat room header]
$username-color: #818181; // Usernames color

$border-radius: 20px; // [Chat message border radius]